* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
  background-color: rgb(81, 39, 219);
}

input[type="text"] {
  padding: 1em;
  width: 50%;
  border: 3px solid gold;
}

.main {
  background-color: #1b1b1b;
  padding: 1.3em;
}

.coin--cointainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1em;
  padding: 1em;
  color: white;
  background-color: #262626;
  /* border-bottom: 5px solid red; */
  border-radius: .3em;
  box-shadow: 2px 1px 7px 0px rgba(0,0,0,0.10);
}

img {
  max-width: 4vw;
}